<% user ||= current_user %>
<div class="stats">
  <%= link_to relationships_path user_id: user.id, is_following: true do %>
    <strong id="following" class="stat">
      <%= user.following.count %>
    </strong>
    <%= t("follow.text4") %>
  <% end %>
  <%= link_to relationships_path user_id: user.id do %>
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    <%= t("follow.text5") %>
  <% end %>
</div>
